header {
    background-color: #0077be;
    color: wheat;
    padding: 20px;
    text-align: center;
}
header h1 {
    font-size: 36;
    margin: 0;
}
nav {
    background-color: #f2f2f2;
    margin: 20px;
    border-radius: 7px;
    text-align: center;
}
nav a {
    display: inline-block;
    padding: 10px;
    color: #0077be;
    text-decoration: none;
    font-weight: 20%;
    margin: 20px;
}
nav a:hover {
    background-color: #0077be;
    color: wheat;
    border-radius: 7px;
    transform: background-color 0.3 ease-in-out;
}
footer {
    background-color:  #454545;
    color: wheat;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}
main {
    margin:4%;
}
table {
    padding: 2px;
}
thead {
    background-color: #454545;
    color: wheat;
    font-size: larger;
}
tbody {
    font-size: medium;
}
.odd {
    background-color: #f2f2f2;
}
div.share {
    justify-content: center;
}
td a {
    border-radius: 5px;
    border-bottom: #3f3f3f 1px;
    background-color: #f2f2f2;
}

#chat-box {
    border: #3f3f3f solid 2px;
    border-radius: 5px;
    min-height: 240px;
    max-height: 320px;
    background-color: #f2f2f2;
    padding: 15px;
    margin: 0 auto;
    overflow-y: scroll;
}

.chat-message {
    display: flex;
    padding: 1px 5px;
    border-radius: 5px;
    max-width: 80%;
    margin-bottom: 10px;
}

.chat-message label,.chat-message a {
    color: #0077be;
    padding: 15px;
}

.chat-message p {
    color: #3f3f3f;
}

#chat-form {
    margin-top: 15px;
}

#message-input {
    width: 90%;
    padding: 10px;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    box-sizing: border-box;
}

#submit-input {
    float: right;
    width: 9%;
    min-width: fit-content;
    background-color: #0077be;
    color: wheat;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.link-box {
    display: inline-flex;
    background-color: #3f3f3f;
    color: wheat;
    font-style: normal;
    border: 1px solid #3f3f3f;
    border-radius: 5px;
    margin: 5px;
    padding: 2px 10px;
    font-size: xx-large;
}