<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
        <title>{% block title %}{% endblock %} - LocalHost</title>
        {% block head %}
        {% endblock %}
   </head>
   <body>
    <header>
        <h1>LocalHost</h1>
        <nav>
            <a href="/index">Index</a>
            <a href="/share">Share</a>
            <a href="/chatbox">ChatBox</a>
            <a href="/stream">Stream</a>
        </nav>
    </header>
    <main>
        <div>
            {% block main %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>Made by <strong>Alireza Moghaddam</strong></p>
        <p><b>Email:</b> alireza1383moghaddam@gmail.com</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                    {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
    </footer>
   </body>
</html>