{% extends "base.html" %}
{% block title %}Sharing Center{% endblock %}
{% block main %}
    <h3>Sharing Center</h3>
    <form method=post enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
    </form>
    {% if error %}
      <p class=error><strong>Error:</strong> {{ error }}</p>
    {% endif %}
    <div class="share">
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>size - KB</th>
                    <th>type</th>
                    <th>lengh</th>
                    <th>date</th>
                    <th>upload by</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td class="odd">{{ file.name }}</td>
                    <td>{{ file.size }}</td>
                    <td class="odd">{{ file.type }}</td>
                    <td>{{ file.length }}</td>
                    <td class="odd">{{ file.date }}</td>
                    <td>{{ file.username }}</td>
                    <td><a href="share/download/{{ file.fullname }}">Download</a></td>
                    <td><a href="share/delete/{{ file.fullname }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}